.login {
  margin: 70px auto;
  width: 347px;
  text-align: center;
  padding: 40px;
  background-color: #a61414 !important;
}

.button {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 17px;
  width: 270px;
  font-size: 1.2em;
  cursor: pointer;
}
