.locationList {
  background-color: #eee;
  min-width: 400px;
  width: 50%;
  padding: 0 10px;
}

.content {
  height: 100vh;
  vertical-align: middle;
  margin: auto;
  text-align: center;
  line-height: 25;
  color: "ddd";
  font-size: 1.6em;
}
