.locationList {
  background-color: #eee;
  min-width: 400px;
  width: 50%;
  padding: 0 10px;
}

.content {
  vertical-align: middle;
  margin: 60px auto;
  text-align: center;
  color: #ccc;
  font-size: 1.3em;
}
